@font-face {
    font-family: "Jungle";
    src: url('JungleAdventurer.ttf');
   }
body{
    background: #154059;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Jungle";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 3em;
}
#question{
    width: 75px;
    height: 75px;
    background-color: #DAAD86;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftpart{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    

}
#rightpart{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    

}
#section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 20%;
    margin-bottom: 30px;
}
p{
    color: white;
    font-family: "Jungle";
    font-size: 2em;
}
#button1{
width: 75px;
height: 75px;
background-color: #154059;
border-radius: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: center;
align-items: center;
}
#button2{
    width: 75px;
    height: 75px;
    background-color: #C99C72;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
justify-content: center;
align-items: center;
}
#button3{
    width: 75px;
    height: 75px;
    background-color: #118ED7; 
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    display: flex;
justify-content: center;
align-items: center; 
}
#button4{
    width: 75px;
    height: 75px;
    background-color: #FEE379;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
justify-content: center;
align-items: center;
}
.images{
    margin: 0;
    padding: 0;
}
.images1{
    margin-left: 5px;
    margin-top: 5px;
}
#maindiv{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(251,238,193);
    background: linear-gradient(90deg, rgba(251,238,193,1) 36%, rgba(218,173,134,1) 96%);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#bottombuttons{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 50%;
height: 20%;
border-radius: 10px;
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Jungle";
    font-size: 2em;

}
.choice{
    width: 75px;
    height: 75px;
    background-color: #FBEEC1;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#section2{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
}
.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 2em;
    color: #BC986A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#hiddendiv{
    width: 80%;
    height: 80%;
    background-color: black;
    
}